*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;

}
ul{
    background-color: rgb(206, 205, 205);
    list-style-type: "🍭";
    max-width: 200px;
    
}
.active{
    background-color: gray;
    color: white;
}